@import "tailwindcss";

body {
  color: #171717; /* jika kamu ingin teks tetap gelap dan kontras */
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .responsive-header {
    @apply  xl:flex-row lg:flex-row md:flex-row sm:flex-col flex-col sm:gap-3 gap-3  ;
  }
}

@layer utilities {
  .scrollbar-hover {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    transition: scrollbar-color 0.3s ease;
  }

  .scrollbar-hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-hover::-webkit-scrollbar-track {
    background: transparent;
    transition: background 0.3s ease;
  }

  .scrollbar-hover::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
    background-clip: content-box;
    transition: background-color 0.3s ease;
  }

  .scrollbar-hover:hover {
    scrollbar-color: #bbb transparent;
    cursor: pointer;
  }

  .scrollbar-hover:hover::-webkit-scrollbar-thumb {
    background-color: #bbb;
  }

  .scrollbar-hover:hover::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }
}