@import "tailwindcss";

body {
  color: #171717; /* jika kamu ingin teks tetap gelap dan kontras */
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .responsive-header {
    @apply  xl:flex-row lg:flex-row md:flex-row sm:flex-col flex-col sm:gap-3 gap-3  ;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}